h1{
    color: white;
    text-align:left;
}


.note-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding:10px 20px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.note-label{
    display: inline-block;
    max-width: calc(100% - 35px);
}


.delete-note {
    position: relative;
    color: #fff;
    background-color: #252525;
    border: none;
    border-radius: 8px;
    padding: 4px 10px;
}

.add-note {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #252525;
    color: white;
    font-size: 35px;
    border: none;
    box-shadow: 0 0 4px rgba(0,0,0,0.6);
}