@page "/editor/{noteId}"
@using ViewModels.Interfaces
@inject INoteEditorViewModel EditorVM

<div class="note-editor">
    <div class="editor-header">
        <button
            class="back-btn"
            @onclick="EditorVM.GoBack"
        >
            &lt;
        </button>
    </div>
    <input
        class="note-title"
        placeholder="Title"
        @bind-value="EditorVM.Title"
        @bind-value:event="oninput" />
    <textarea
        class="note-content"
        placeholder="Type something..."
        @bind-value="EditorVM.Content"
        @bind-value:event="oninput">
    </textarea>
</div>

@code {
    [Parameter]
    public string NoteId { get; set; }

    protected override void OnInitialized()
    {
        EditorVM.Initialize(NoteId);
    }
}
