.editor-header {
    padding: 1rem 0;
}

.back-btn {
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius:15px;
    background: #3B3B3B;
}

.note-editor {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.note-title{
    color: #fff;
    background: transparent;
    font-size: 35px;
    border: none;
    margin: 1rem 0;
}

.note-content{
    color: #fff;
    font-size:24px;
    background: transparent;
    flex: 1;
    border: none;
    margin-bottom: 1rem;
}